{% assign set = section.settings %}
{% render 'ea-section-styles', section: section %}

<div class="home-slider-wrapper">
  <div class="container">
  	 <div class="inner-wrapper">
            <div class="title-wrapper">
              <h1 class="section-title">{{ set.title }}</h1>
            </div>
        <div class="main-pane">
          {% for block in section.blocks %}
            {% assign bset = block.settings %}
            <div class="panel-horizontal">
              <h1 class="item-title">{{ bset.title }}</h1>
              <div class="item-image"><img src="{{ bset.image | img_url: "190x190" }}" /></div>
              <span class="item-text">
                {{ bset.text }}
              </span>
            </div>
          {% endfor %}
        </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Homepage slider",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "checkbox",
      "id": "visible",
      "label": "Show section",
      "default": true
    },
    {
      "type": "header",
      "content": "Spacing"
    },
    {
      "type": "range",
      "id": "ptop",
      "label": "Top spacing desktop",
      "min": 0,
      "unit": "px",
      "max": 500,
      "step": 5,
      "default": 45
    },
    {
      "type": "range",
      "id": "pbottom",
      "label": "Bottom spacing desktop",
      "min": 0,
      "unit": "px",
      "max": 500,
      "step": 5,
      "default": 45
    },
    {
      "type": "range",
      "id": "ptop_mob",
      "label": "Top spacing mobile",
      "min": 0,
      "unit": "px",
      "max": 500,
      "step": 5,
      "default": 45
    },
    {
      "type": "range",
      "id": "pbottom_mob",
      "label": "Bottom spacing mobile",
      "min": 0,
      "unit": "px",
      "max": 500,
      "step": 5,
      "default": 45
    },


    {
      "type": "header",
      "content": "Background"
    },
    {
      "type": "color",
      "id": "sectionbg",
      "label": "Section background color",
      "default": "#ffffff"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    }
  ],
  "blocks": [
    {
      "type": "item",
      "name": "Item",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Text"
        }
      ]
    }
  ],
  "presets": [
  {
    "category": "ik-section",
    "name": "Homepage slider"
  }
]

}
{% endschema %}