{% assign set = section.settings %}
{% render 'ea-section-styles', section: section %}

<div class="nature-wrapper">
  <div class="nature-inner-wrapper {% if set.image_pos == 'left' %}is-left {% else %}is-right{% endif %}">
      <div class="left-pane">
        <img class="nature-img" src="{{ section.settings.product_image | img_url : 'master' }}" />
      </div>
      <div class="right-pane">
        <div class="right-pane-wrapper">
          <h1 class="nature-title">{{section.settings.prod_title}}</h1>
          <span class="nature-text">{{ section.settings.text }}</span>
          <div class="animated-bottom animated-delay-1">
            {% render 'button', {
              top: set.btntop,
              id: section.id,
              text: set.btn,
              url: set.btnu,
              class: 'add-to-cart m-long animated-bottom animated-delay-1 hero-button'
            } %}
          </div>
        </div>
      </div>
  </div>
</div>

{% schema %}
{
  "name": "Nature Subscription",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "image_picker",
      "id": "product_image",
      "label": "Product  Image"
    }, 
    {
      "type": "select",
      "id": "image_pos",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "left",
      "label": "Main image position"
    },
    {
      "type": "text",
      "id": "prod_title",
      "label": "Title"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "Text"
    },
    {
      "type": "header",
      "content": "button"
    },
    {
      "type": "range",
      "id": "btntop",
      "label": "Top spacing",
      "min": -200,
      "max": 200,
      "step": 5,
      "default": 45
    },
    {
      "id": "btnu",
      "type": "url",
      "label": "Button link"
    },
    {
      "id": "btn",
      "type": "text",
      "label": "Button text",
      "default": "SUBSCRIBE FOR £25.99"
    }
  ],
  "presets": [
  {
    "category": "ik-section",
    "name": "Nature"
  }
]

}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
