<div class="ik-marquee" id="{{ section.settings.marquee_id }}">
  <h2>
    <span>{{ section.settings.marquee_text }}</span>
    <span>{{ section.settings.marquee_text }}</span>
  </h2>
</div>

{% schema %}
{
  "name": "Text marquee",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "marquee_text",
      "label": "marquee text",
      "default": "hair confidence • hair wellness • science"
    },
    {
      "type": "text",
      "id": "marquee_id",
      "label": "marquee id"
    }
  ]
}
{% endschema %}