body {
  padding-bottom: 0 !important;
}

.template-index .shopify-section:not(#shopify-section-ea-topbar, #shopify-section-ik-navigation, .image-and-text-section) {
  border-top: 1px solid #000;
}

.text-center {
  text-align: center;
}

.sidenav {
  // width: 80%;
}

body.no-scroll, .is-menu-open {
  overflow: hidden;
  position: fixed;
  width: 100%;
  .container .row {
    max-width: 100%;
    width: 100vw;
  }
}

.is-hidden {
  display: none;
}

a:hover:not(.btn) {
  color: inherit !important;
  opacity: .8;
}