.ik-product-landing {
  .landing-container {
    max-width: 915px;
    margin: 0 auto;
    .landing-title {
      font-size: 82px;
      line-height: 95%;
      text-align: center;
      @include mobile {
        font-size: 50px;
        line-height: 60px;
        text-align: left;
        margin-bottom: 20px;
      }
    }
    .landing-text {
      margin-top: 30px;
      @include desktop {
        max-width: 515px;
        float: right;
      }
      p {
        font-size: 15px;
        line-height: 150%;
        @include mobile {
          font-size: 14px;
          line-height: 150%;
        }
      }
    }
  }
  .landing-img {
    margin-top: 120px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
}
