#marquee_1 {
  h2 {
    font-size: 82px;
    line-height: 95%;
    padding: 100px 0;
    margin: 0;
    overflow: hidden;
    @include mobile {
      padding: 50px 0;
      font-size: 50px;
      line-height: 60px;
    }
  }
}

#marquee_2 {
  h2 {
    font-size: 16px;
    line-height: 19px;
    padding: 20px 0;
    margin: 0;
    background-color: #dad4c6;
    overflow: hidden;
    span {
      @include desktop {
        margin-right: 300px;
      }
    }
    @include mobile {
      font-size: 18px;
      line-height: 22px;
    }
  }
}
#product_marquee {
  h2 {
    font-size: 24px;
    line-height: 29px;
    padding: 40px 0;
    margin: 0;
    background-color: #FFF;
    border-top: 1px solid #1D1D1D;
    border-bottom: 1px solid #1D1D1D;
    overflow: hidden;
    span {
      @include desktop {
        margin-right: 300px;
      }
    }
    @include mobile {
      font-size: 18px;
      line-height: 22px;
      padding: 20px 0;
    }
  }
}
