#marquee_1 {
  h2 {
    font-size: 82px;
    line-height: 95%;
    padding: 100px 0;
    margin: 0;
    overflow: hidden;
  }
}

#marquee_2 {
  h2 {
    font-size: 16px;
    line-height: 19px;
    padding: 20px 0;
    margin: 0;
    overflow: hidden;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
  }
}
