.nature-wrapper {
  position: relative;
  min-height: 672px;

  .nature-inner-wrapper {
    display: flex;
    min-height: 672px;
    &.is-right {
      flex-direction: row-reverse;
    }
  }

  .nature-img {
    height: 100%;
  }

  .nature-title {
    font-size: 64px;
    font-weight: 500;
    line-height: 60.8px;
    color: #1d1d1d;
    text-transform: uppercase;
    margin-bottom: 1rem;
    max-width: 430px;
    @include mobile {
      font-size: 50px;
      line-height: 60px;
    }
  }

  .nature-text {
    font-weight: normal;
    font-size: 15px;
    line-height: 150%;
    width: 447px;
    height: 186px;
    margin-bottom: 1rem;
    padding: 30px 0;
    @include mobile {
      font-size: 14px;
      line-height: 150%;
    }
  }

  .nature-wrapper {
    position: relative;
    min-height: 672px;
  }

  .left-pane {
    width: 50%;
    img {
      width: 100%;
      object-fit: cover;
    }
  }

  .nature-inner-wrapper {
    display: flex;
    min-height: 672px;
    @include mobile {
      flex-direction: column !important;
      & > div {
        width: 100% !important;
        flex: 100% !important;
      }
    }
  }

  .right-pane {
    flex: 50%;
    width: 50%;
    padding: 13vh 5vw;
    @include mobile {
      padding: 50px 12.5px;
    }
    .right-pane-wrapper {
      margin: 0 auto;
    }

    .hero-button {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      padding: 20px;
      background: #1d1d1d;
      display: inline-flex;
      color: #ffffff;
      font-size: 15px;
      margin-top: 20px;
      border: none;
      font-weight: normal;
      cursor: pointer;
      @include mobile {
        font-size: 14px;
        line-height: 17px;
      }
      svg path {
        fill: #fff;
      }
      &:hover {
        opacity: 0.8;
      }
    }
  }
}
