.why-wrapper {
  .why-inner-wrapper {
    display: flex;
    justify-content: center;
    @include mobile {
      flex-direction: column;
      padding: 0 25px;
    }
    .left-pane-plane {
      max-width: 330px;
      margin-right: 10vw;
      display: flex;
      .title-wrapper {
        align-self: center;
        .why-section-title {
          font-weight: normal;
          font-size: 64px;
          line-height: 95%;
          @include mobile {
            font-size: 50px;
            line-height: 60px;
          }
        }
      }
    }
    .why-right-pane {
      .panel-horizontal {
        max-width: 415px;
        display: flex;
        flex-direction: column;
        margin-bottom: 60px;
        @include mobile {
          max-width: 100%;
          margin-bottom: 0;
        }
        &:last-child {
          margin-bottom: 0;
        }
        .why-title {
          font-size: 24px;
          line-height: 29px;
          @include mobile {
            margin-top: 40px;
            margin-bottom: 20px;
            font-size: 18px;
            line-height: 22px;
          }
        }
        .why-text p {
          font-size: 15px;
          line-height: 150%;
          margin: 0;
          @include mobile {
            font-size: 14px;
            line-height: 150%;
          }
        }
      }
    }
  }
}
